{
    "openapi": "3.0.0",
    "info": {
        "title": "Service for namespace cds_xgsslsxui_c_subprj_contentlang",
        "version": "",
        "description": "This service is located at [http://localhost/service-root/](http://localhost/service-root/)"
    },
    "servers": [
        {
            "url": "https://vhslsdwdwd.sls.rot.hec.sap.biz/sap/opu/odata/GSSLS/UI_C_SUBPRJ_CNTLANG/"
        },
        {
            "url": "https://vhslsmwdwd01.sls.rot.hec.sap.biz/sap/opu/odata/GSSLS/UI_C_SUBPRJ_CNTLANG/"
        }
    ],
    "tags": [
        {
            "name": "SAP__Currencies"
        },
        {
            "name": "SAP__UnitsOfMeasure"
        },
        {
            "name": "SAP__MyDocumentDescriptions"
        },
        {
            "name": "SAP__FormatSet"
        },
        {
            "name": "SAP__PDFStandardSet"
        },
        {
            "name": "SAP__TableColumnsSet"
        },
        {
            "name": "SAP__CoverPageSet"
        },
        {
            "name": "SAP__SignatureSet"
        },
        {
            "name": "SAP__ValueHelpSet"
        },
        {
            "name": "Content languages"
        },
        {
            "name": "Content tools"
        },
        {
            "name": "Subproject contents"
        },
        {
            "name": "Subprojects for content language tab"
        },
        {
            "name": "Terminology projects"
        },
        {
            "name": "Language statuses - initial or delta"
        },
        {
            "name": "Source languages"
        },
        {
            "name": "Subproject global graphs"
        },
        {
            "name": "Subproject graphs"
        },
        {
            "name": "Subproject translation areas"
        },
        {
            "name": "Subproject Worklists"
        },
        {
            "name": "Systems"
        },
        {
            "name": "Target languages"
        },
        {
            "name": "Tool types"
        }
    ],
    "paths": {
        "/SAP__Currencies": {
            "get": {
                "summary": "Get entities from SAP__Currencies",
                "tags": [
                    "SAP__Currencies"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "CurrencyCode",
                                    "CurrencyCode desc",
                                    "ISOCode",
                                    "ISOCode desc",
                                    "Text",
                                    "Text desc",
                                    "DecimalPlaces",
                                    "DecimalPlaces desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "CurrencyCode",
                                    "ISOCode",
                                    "Text",
                                    "DecimalPlaces"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of SAP__Currency",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__Currency"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to SAP__Currencies",
                "tags": [
                    "SAP__Currencies"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__Currency-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SAP__Currency",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__Currency"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SAP__Currencies('{CurrencyCode}')": {
            "parameters": [
                {
                    "name": "CurrencyCode",
                    "in": "path",
                    "required": true,
                    "description": "Currency",
                    "schema": {
                        "type": "string",
                        "maxLength": 5
                    }
                }
            ],
            "get": {
                "summary": "Get entity from SAP__Currencies by key",
                "tags": [
                    "SAP__Currencies"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "CurrencyCode",
                                    "ISOCode",
                                    "Text",
                                    "DecimalPlaces"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SAP__Currency",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__Currency"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in SAP__Currencies",
                "tags": [
                    "SAP__Currencies"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "Modified SAP__Currency",
                                "type": "object",
                                "properties": {
                                    "d": {
                                        "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__Currency-update"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from SAP__Currencies",
                "tags": [
                    "SAP__Currencies"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SAP__UnitsOfMeasure": {
            "get": {
                "summary": "Get entities from SAP__UnitsOfMeasure",
                "tags": [
                    "SAP__UnitsOfMeasure"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "UnitCode",
                                    "UnitCode desc",
                                    "ISOCode",
                                    "ISOCode desc",
                                    "ExternalCode",
                                    "ExternalCode desc",
                                    "Text",
                                    "Text desc",
                                    "DecimalPlaces",
                                    "DecimalPlaces desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "UnitCode",
                                    "ISOCode",
                                    "ExternalCode",
                                    "Text",
                                    "DecimalPlaces"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of SAP__UnitOfMeasure",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__UnitOfMeasure"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to SAP__UnitsOfMeasure",
                "tags": [
                    "SAP__UnitsOfMeasure"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__UnitOfMeasure-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SAP__UnitOfMeasure",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__UnitOfMeasure"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SAP__UnitsOfMeasure('{UnitCode}')": {
            "parameters": [
                {
                    "name": "UnitCode",
                    "in": "path",
                    "required": true,
                    "description": "Internal UoM",
                    "schema": {
                        "type": "string",
                        "maxLength": 3
                    }
                }
            ],
            "get": {
                "summary": "Get entity from SAP__UnitsOfMeasure by key",
                "tags": [
                    "SAP__UnitsOfMeasure"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "UnitCode",
                                    "ISOCode",
                                    "ExternalCode",
                                    "Text",
                                    "DecimalPlaces"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SAP__UnitOfMeasure",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__UnitOfMeasure"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in SAP__UnitsOfMeasure",
                "tags": [
                    "SAP__UnitsOfMeasure"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "Modified SAP__UnitOfMeasure",
                                "type": "object",
                                "properties": {
                                    "d": {
                                        "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__UnitOfMeasure-update"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from SAP__UnitsOfMeasure",
                "tags": [
                    "SAP__UnitsOfMeasure"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SAP__MyDocumentDescriptions": {
            "get": {
                "summary": "Get entities from SAP__MyDocumentDescriptions",
                "tags": [
                    "SAP__MyDocumentDescriptions"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Id",
                                    "Id desc",
                                    "CreatedBy",
                                    "CreatedBy desc",
                                    "CreatedAt",
                                    "CreatedAt desc",
                                    "FileName",
                                    "FileName desc",
                                    "Title",
                                    "Title desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Id",
                                    "CreatedBy",
                                    "CreatedAt",
                                    "FileName",
                                    "Title",
                                    "Format",
                                    "TableColumns",
                                    "CoverPage",
                                    "Signature",
                                    "PDFStandard"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Format",
                                    "TableColumns",
                                    "CoverPage",
                                    "Signature",
                                    "PDFStandard"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of SAP__DocumentDescription",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__DocumentDescription"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to SAP__MyDocumentDescriptions",
                "tags": [
                    "SAP__MyDocumentDescriptions"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__DocumentDescription-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SAP__DocumentDescription",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__DocumentDescription"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SAP__MyDocumentDescriptions(guid'{Id}')": {
            "parameters": [
                {
                    "name": "Id",
                    "in": "path",
                    "required": true,
                    "description": "UUID",
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                }
            ],
            "get": {
                "summary": "Get entity from SAP__MyDocumentDescriptions by key",
                "tags": [
                    "SAP__MyDocumentDescriptions"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Id",
                                    "CreatedBy",
                                    "CreatedAt",
                                    "FileName",
                                    "Title",
                                    "Format",
                                    "TableColumns",
                                    "CoverPage",
                                    "Signature",
                                    "PDFStandard"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Format",
                                    "TableColumns",
                                    "CoverPage",
                                    "Signature",
                                    "PDFStandard"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SAP__DocumentDescription",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__DocumentDescription"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in SAP__MyDocumentDescriptions",
                "tags": [
                    "SAP__MyDocumentDescriptions"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "Modified SAP__DocumentDescription",
                                "type": "object",
                                "properties": {
                                    "d": {
                                        "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__DocumentDescription-update"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from SAP__MyDocumentDescriptions",
                "tags": [
                    "SAP__MyDocumentDescriptions"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SAP__MyDocumentDescriptions(guid'{Id}')/Format": {
            "parameters": [
                {
                    "name": "Id",
                    "in": "path",
                    "required": true,
                    "description": "UUID",
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                }
            ],
            "get": {
                "summary": "Get related Format",
                "tags": [
                    "SAP__MyDocumentDescriptions",
                    "SAP__FormatSet"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "FitToPage",
                                    "Id",
                                    "FontSize",
                                    "Orientation",
                                    "PaperSize",
                                    "BorderSize",
                                    "MarginSize",
                                    "FontName"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SAP__Format",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__Format"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SAP__MyDocumentDescriptions(guid'{Id}')/TableColumns": {
            "parameters": [
                {
                    "name": "Id",
                    "in": "path",
                    "required": true,
                    "description": "UUID",
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                }
            ],
            "get": {
                "summary": "Get entities from related TableColumns",
                "tags": [
                    "SAP__MyDocumentDescriptions",
                    "SAP__TableColumnsSet"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Id",
                                    "Name",
                                    "Header",
                                    "HorizontalAlignment"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of SAP__TableColumns",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__TableColumns"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SAP__MyDocumentDescriptions(guid'{Id}')/CoverPage": {
            "parameters": [
                {
                    "name": "Id",
                    "in": "path",
                    "required": true,
                    "description": "UUID",
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                }
            ],
            "get": {
                "summary": "Get entities from related CoverPage",
                "tags": [
                    "SAP__MyDocumentDescriptions",
                    "SAP__CoverPageSet"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Title",
                                    "Id",
                                    "Name",
                                    "Value"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of SAP__CoverPage",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__CoverPage"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SAP__MyDocumentDescriptions(guid'{Id}')/Signature": {
            "parameters": [
                {
                    "name": "Id",
                    "in": "path",
                    "required": true,
                    "description": "UUID",
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                }
            ],
            "get": {
                "summary": "Get related Signature",
                "tags": [
                    "SAP__MyDocumentDescriptions",
                    "SAP__SignatureSet"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Id",
                                    "DoSign",
                                    "Reason"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SAP__Signature",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__Signature"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SAP__MyDocumentDescriptions(guid'{Id}')/PDFStandard": {
            "parameters": [
                {
                    "name": "Id",
                    "in": "path",
                    "required": true,
                    "description": "UUID",
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                }
            ],
            "get": {
                "summary": "Get related PDFStandard",
                "tags": [
                    "SAP__MyDocumentDescriptions",
                    "SAP__PDFStandardSet"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Id",
                                    "UsePDFAConformance",
                                    "DoEnableAccessibility"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SAP__PDFStandard",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__PDFStandard"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SAP__ValueHelpSet": {
            "get": {
                "summary": "Get entities from SAP__ValueHelpSet",
                "tags": [
                    "SAP__ValueHelpSet"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "VALUEHELP",
                                    "VALUEHELP desc",
                                    "FIELD_VALUE",
                                    "FIELD_VALUE desc",
                                    "DESCRIPTION",
                                    "DESCRIPTION desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "VALUEHELP",
                                    "FIELD_VALUE",
                                    "DESCRIPTION"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of SAP__ValueHelp",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__ValueHelp"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to SAP__ValueHelpSet",
                "tags": [
                    "SAP__ValueHelpSet"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__ValueHelp-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SAP__ValueHelp",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__ValueHelp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SAP__ValueHelpSet('{VALUEHELP}')": {
            "parameters": [
                {
                    "name": "VALUEHELP",
                    "in": "path",
                    "required": true,
                    "description": "key: VALUEHELP",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Get entity from SAP__ValueHelpSet by key",
                "tags": [
                    "SAP__ValueHelpSet"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "VALUEHELP",
                                    "FIELD_VALUE",
                                    "DESCRIPTION"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SAP__ValueHelp",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__ValueHelp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in SAP__ValueHelpSet",
                "tags": [
                    "SAP__ValueHelpSet"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "Modified SAP__ValueHelp",
                                "type": "object",
                                "properties": {
                                    "d": {
                                        "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SAP__ValueHelp-update"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from SAP__ValueHelpSet",
                "tags": [
                    "SAP__ValueHelpSet"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SubprjContentLanguages": {
            "get": {
                "summary": "Get entities from SubprjContentLanguages",
                "tags": [
                    "Content languages"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "PrjItemId",
                                    "PrjItemId desc",
                                    "ContentId",
                                    "ContentId desc",
                                    "SlsLang",
                                    "SlsLang desc",
                                    "SlsLangText",
                                    "SlsLangText desc",
                                    "SourceLang",
                                    "SourceLang desc",
                                    "SourceLangText",
                                    "SourceLangText desc",
                                    "Paused",
                                    "Paused desc",
                                    "InitialLanguage",
                                    "InitialLanguage desc",
                                    "LanguageStatus",
                                    "LanguageStatus desc",
                                    "LanguageStatusText",
                                    "LanguageStatusText desc",
                                    "BusinessCaseId",
                                    "BusinessCaseId desc",
                                    "InternalTranslators",
                                    "InternalTranslators desc",
                                    "PercentIntTranslation",
                                    "PercentIntTranslation desc",
                                    "PercentUnit",
                                    "PercentUnit desc",
                                    "ProjectType",
                                    "ProjectType desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Delete_mc",
                                    "Update_mc",
                                    "PrjItemId",
                                    "ContentId",
                                    "SlsLang",
                                    "SlsLangText",
                                    "SourceLang",
                                    "SourceLangText",
                                    "Paused",
                                    "InitialLanguage",
                                    "LanguageStatus",
                                    "LanguageStatusText",
                                    "BusinessCaseId",
                                    "InternalTranslators",
                                    "PercentIntTranslation",
                                    "PercentUnit",
                                    "ProjectType",
                                    "to_Content",
                                    "to_LanguageStatus",
                                    "to_Subproject"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "to_Content",
                                    "to_LanguageStatus",
                                    "to_Subproject"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of SubprjContentLanguagesType",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SubprjContentLanguagesType"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SubprjContentLanguages(PrjItemId='{PrjItemId}',ContentId='{ContentId}',SlsLang='{SlsLang}')": {
            "parameters": [
                {
                    "name": "PrjItemId",
                    "in": "path",
                    "required": true,
                    "description": "Project Item ID",
                    "schema": {
                        "type": "string",
                        "maxLength": 18
                    }
                },
                {
                    "name": "ContentId",
                    "in": "path",
                    "required": true,
                    "description": "Content ID",
                    "schema": {
                        "type": "string",
                        "maxLength": 6
                    }
                },
                {
                    "name": "SlsLang",
                    "in": "path",
                    "required": true,
                    "description": "Target Language",
                    "schema": {
                        "type": "string",
                        "maxLength": 4
                    }
                }
            ],
            "get": {
                "summary": "Get entity from SubprjContentLanguages by key",
                "tags": [
                    "Content languages"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Delete_mc",
                                    "Update_mc",
                                    "PrjItemId",
                                    "ContentId",
                                    "SlsLang",
                                    "SlsLangText",
                                    "SourceLang",
                                    "SourceLangText",
                                    "Paused",
                                    "InitialLanguage",
                                    "LanguageStatus",
                                    "LanguageStatusText",
                                    "BusinessCaseId",
                                    "InternalTranslators",
                                    "PercentIntTranslation",
                                    "PercentUnit",
                                    "ProjectType",
                                    "to_Content",
                                    "to_LanguageStatus",
                                    "to_Subproject"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "to_Content",
                                    "to_LanguageStatus",
                                    "to_Subproject"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SubprjContentLanguagesType",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SubprjContentLanguagesType"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in SubprjContentLanguages",
                "tags": [
                    "Content languages"
                ],
                "requestBody": {
                    "required": true,
                    "description": "New property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "Modified SubprjContentLanguagesType",
                                "type": "object",
                                "properties": {
                                    "d": {
                                        "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SubprjContentLanguagesType-update"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from SubprjContentLanguages",
                "tags": [
                    "Content languages"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SubprjContentLanguages(PrjItemId='{PrjItemId}',ContentId='{ContentId}',SlsLang='{SlsLang}')/to_Content": {
            "parameters": [
                {
                    "name": "PrjItemId",
                    "in": "path",
                    "required": true,
                    "description": "Project Item ID",
                    "schema": {
                        "type": "string",
                        "maxLength": 18
                    }
                },
                {
                    "name": "ContentId",
                    "in": "path",
                    "required": true,
                    "description": "Content ID",
                    "schema": {
                        "type": "string",
                        "maxLength": 6
                    }
                },
                {
                    "name": "SlsLang",
                    "in": "path",
                    "required": true,
                    "description": "Target Language",
                    "schema": {
                        "type": "string",
                        "maxLength": 4
                    }
                }
            ],
            "get": {
                "summary": "Get related to_Content",
                "tags": [
                    "Content languages",
                    "Subproject contents"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Delete_mc",
                                    "Update_mc",
                                    "PrjItemId",
                                    "ContentId",
                                    "ContentName",
                                    "ContentType",
                                    "ProjectId",
                                    "to_ContentLanguages",
                                    "to_ContentTools",
                                    "to_Subproject",
                                    "to_TerminologyProjects"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "to_ContentLanguages",
                                    "to_ContentTools",
                                    "to_Subproject",
                                    "to_TerminologyProjects"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SubprjContentsType",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SubprjContentsType"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SubprjContentLanguages(PrjItemId='{PrjItemId}',ContentId='{ContentId}',SlsLang='{SlsLang}')/to_LanguageStatus": {
            "parameters": [
                {
                    "name": "PrjItemId",
                    "in": "path",
                    "required": true,
                    "description": "Project Item ID",
                    "schema": {
                        "type": "string",
                        "maxLength": 18
                    }
                },
                {
                    "name": "ContentId",
                    "in": "path",
                    "required": true,
                    "description": "Content ID",
                    "schema": {
                        "type": "string",
                        "maxLength": 6
                    }
                },
                {
                    "name": "SlsLang",
                    "in": "path",
                    "required": true,
                    "description": "Target Language",
                    "schema": {
                        "type": "string",
                        "maxLength": 4
                    }
                }
            ],
            "get": {
                "summary": "Get related to_LanguageStatus",
                "tags": [
                    "Content languages",
                    "Language statuses - initial or delta"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "LanguageStatus",
                                    "LanguageStatusText"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "LanguageStatusesType",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.LanguageStatusesType"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SubprjContentLanguages(PrjItemId='{PrjItemId}',ContentId='{ContentId}',SlsLang='{SlsLang}')/to_Subproject": {
            "parameters": [
                {
                    "name": "PrjItemId",
                    "in": "path",
                    "required": true,
                    "description": "Project Item ID",
                    "schema": {
                        "type": "string",
                        "maxLength": 18
                    }
                },
                {
                    "name": "ContentId",
                    "in": "path",
                    "required": true,
                    "description": "Content ID",
                    "schema": {
                        "type": "string",
                        "maxLength": 6
                    }
                },
                {
                    "name": "SlsLang",
                    "in": "path",
                    "required": true,
                    "description": "Target Language",
                    "schema": {
                        "type": "string",
                        "maxLength": 4
                    }
                }
            ],
            "get": {
                "summary": "Get related to_Subproject",
                "tags": [
                    "Content languages",
                    "Subprojects for content language tab"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "to_Contents_oc",
                                    "PrjItemId",
                                    "SubprjName",
                                    "ProjectType",
                                    "to_Contents"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "to_Contents"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "SubprojectsType",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SubprojectsType"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SubprjContentTools": {
            "get": {
                "summary": "Get entities from SubprjContentTools",
                "tags": [
                    "Content tools"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values, see [Sorting](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=65)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "PrjItemId",
                                    "PrjItemId desc",
                                    "ContentId",
                                    "ContentId desc",
                                    "ToolType",
                                    "ToolType desc",
                                    "TranslSystem",
                                    "TranslSystem desc",
                                    "SystemOwner",
                                    "SystemOwner desc",
                                    "TranslClient",
                                    "TranslClient desc",
                                    "SmartlingProject",
                                    "SmartlingProject desc",
                                    "ProjectUrl",
                                    "ProjectUrl desc",
                                    "PrjItemIdContent",
                                    "PrjItemIdContent desc",
                                    "ContentType",
                                    "ContentType desc",
                                    "ToolTypeDescr",
                                    "ToolTypeDescr desc",
                                    "HideSystem",
                                    "HideSystem desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Delete_mc",
                                    "Update_mc",
                                    "PrjItemId",
                                    "ContentId",
                                    "ToolType",
                                    "TranslSystem",
                                    "SystemOwner",
                                    "TranslClient",
                                    "SmartlingProject",
                                    "ProjectUrl",
                                    "PrjItemIdContent",
                                    "ContentType",
                                    "ToolTypeDescr",
                                    "TranslationAreas",
                                    "Worklists",
                                    "Graphs",
                                    "GlobalGraphs",
                                    "HideSystem",
                                    "to_Content",
                                    "to_GlobalGraphs",
                                    "to_Graphs",
                                    "to_Subproject",
                                    "to_System",
                                    "to_ToolType",
                                    "to_TranslationAreas",
                                    "to_Worklists"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "to_Content",
                                    "to_GlobalGraphs",
                                    "to_Graphs",
                                    "to_Subproject",
                                    "to_System",
                                    "to_ToolType",
                                    "to_TranslationAreas",
                                    "to_Worklists"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Wrapper",
                                    "type": "object",
                                    "properties": {
                                        "d": {
                                            "title": "Collection of SubprjContentToolsType",
                                            "type": "object",
                                            "properties": {
                                                "__count": {
                                                    "$ref": "#/components/schemas/count"
                                                },
                                                "results": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/cds_xgsslsxui_c_subprj_contentlang.SubprjContentToolsType"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/SubprjContentTools(PrjItemId='{PrjItemId}',ContentId='{ContentId}',ToolType='{ToolType}')": {
            "parameters": [
                {
                    "name": "PrjItemId",
                    "in": "path",
                    "required": true,
                    "description": "Project Item ID",
                    "schema": {
                        "type": "string",
                        "maxLength": 18
                    }
                },
                {
                    "name": "ContentId",
                    "in": "path",
                    "required": true,
                    "description": "SLS Cloud Content ID",
                    "schema": {
                        "type": "string",
                        "maxLength": 6
                    }
                },
                {
                    "name": "ToolType",
                    "in": "path",
                    "required": true,
                    "description": "SLS Cloud Project Tool Type",
                    "schema": {
                        "type": "string",
                        "maxLength": 10
                    }
                }
            ],
            "get": {
                "summary": "Get entity from SubprjContentTools by key",
                "tags": [
                    "Content tools"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "Delete_mc",
                                    "Update_mc",
                                    "PrjItemId",
                                    "ContentId",
                                    "ToolType",
                                    "TranslSystem",
                                    "SystemOwner",
                                    "TranslClient",
                                    "SmartlingProject",
                                    "ProjectUrl",
                                    "PrjItemIdContent",
                                    "ContentType",
                                    "ToolTypeDescr",
                                    "TranslationAreas",
                                    "Worklists",
                                    "Graphs",
                                    "GlobalGraphs",
                                    "HideSystem",
                                    "to_Content",
                                    "to_GlobalGraphs",
                                    "to_Graphs",
                                    "to_Subproject",
                                    "to_System",
                                    "to_ToolType",
                                    "to_TranslationAreas",
                                    "to_Worklists"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
                        "explode": false,
                        "schema": {
                            "type": "array",
[...]
